
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/algo.iml
*.json
bin/Debug/netcoreapp3.1/algo.dll
bin/Debug/netcoreapp3.1/algo.exe
bin/Debug/netcoreapp3.1/algo.pdb
obj/algo.csproj.nuget.g.props
obj/algo.csproj.nuget.g.targets
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/algo.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/algo.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/algo.assets.cache
obj/Debug/netcoreapp3.1/algo.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/algo.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/algo.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/algo.dll
obj/Debug/netcoreapp3.1/algo.exe
obj/Debug/netcoreapp3.1/algo.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/algo.pdb
obj/project.nuget.cache
